<div id="modal<%= name %>" class="modal">
  <div  class="modal-content">
    <h4>Changer le code</h4> 
    <p>Code Actuelle : <span name = 'win' ></span> </p>
    <div class='row'>
     <form id='<%= name %>code' action='#'class='col s12'>
      <div class='row'>
        <div class='input-field col s6'>
          <input id='input_text<%= name %>' name='PG1_changecode' type='text' data-length='4'>
          <label for='input_text'>Nouveau code</label>
          <input type='submit' value='Submit'>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
</div>
</div>

